x64/
*.sdf
*.opendb
*.svn
*.db
*.suo
*.zip
.svn
!ssdb.conf
*DB/
*Log/
/RPGGame/trunk/Build/Src
/RPGGame/trunk/Build/CMakeFiles
/Libary/trunk/Build/Source/Deps/lua-5.3.0/CMakeFiles
/Libary/trunk/Build/Source/Deps/lpeg-1.0.0/CMakeFiles/lpeg.dir
/Libary/trunk/Build/CMakeCache.txt
*.exe
*.exp
*.pdb
*.ilk
/RPGGame/trunk/Bin/_LocalServer/MZ-GateServer.lib
/RPGGame/trunk/Bin/_LocalServer/MZ-GlobalServer.lib
/RPGGame/trunk/Bin/_LocalServer/MZ-LogServer.lib
/RPGGame/trunk/Bin/_LocalServer/MZ-LogicServer.lib
/RPGGame/trunk/Bin/_LocalServer/MZ-LoginServer.lib
/RPGGame/trunk/Bin/_RouterServer/MZ-RouterServer.lib
/RPGGame/trunk/Bin/_WorldServer/MZ-LogicServer.lib
/RPGGame/trunk/Bin/_WorldServer/MZ-WGlobalServer.lib
/Game/trunk/Bin/*.exe
/RPGGame/trunk/Bin/Release/centos6/GateServer
/RPGGame/trunk/Bin/Release/centos6/GlobalServer
/RPGGame/trunk/Bin/Release/centos6/LogServer
/RPGGame/trunk/Bin/Release/centos6/LogicServer
/RPGGame/trunk/Bin/Release/centos6/LoginServer
/RPGGame/trunk/Bin/Release/centos6/RobotClt
/RPGGame/trunk/Bin/Release/centos6/RouterServer
/RPGGame/trunk/Bin/Release/centos6/SSDBServer
/RPGGame/trunk/Bin/Release/centos6/WGlobalServer
/RPGGame/trunk/Bin/Release/centos7/GateServer
/RPGGame/trunk/Bin/Release/centos7/GlobalServer
/RPGGame/trunk/Bin/Release/centos7/LogServer
/RPGGame/trunk/Bin/Release/centos7/LogicServer
/RPGGame/trunk/Bin/Release/centos7/LoginServer
/RPGGame/trunk/Bin/Release/centos7/RobotClt
/RPGGame/trunk/Bin/Release/centos7/RouterServer
/RPGGame/trunk/Bin/Release/centos7/SSDBServer
/RPGGame/trunk/Bin/Release/centos7/WGlobalServer
/RPGGame/trunk/Bin/_LocalServer/MZ-RouterServer.lib
/RPGGame/trunk/Bin/_RobotClient/RobotClient.lib
/RPGGame/trunk/Bin/_WorldServer/MZ-RouterServer.lib
