x64/
*.sdf
*.opendb
*.svn
*.db
*.suo
*.zip
.svn
!ssdb.conf
*DB/
*Log/
/RPGGame/trunk/Build/Src
/RPGGame/trunk/Build/CMakeFiles
/Libary/trunk/Build/Source/Deps/lua-5.3.0/CMakeFiles
/Libary/trunk/Build/Source/Deps/lpeg-1.0.0/CMakeFiles/lpeg.dir
/Libary/trunk/Build/CMakeCache.txt
*.exe
*.exp
*.pdb
