<html>
        <head>
                <title>元宝消耗统计</title>
                <link rel="stylesheet" type="text/css" href="skin/css/base.css">
                <script type="text/javascript" src="js/ajax.js"></script>
                <script language="javascript" type="text/javascript" src="js/calendar.js"></script>
                <script type="text/javascript">

                    function searchTask(){
                        var stime = document.getElementById("stime");
                        var etime = document.getElementById("etime");
                        stime = stime.value.trim();
                        etime = etime.value.trim();
                        var item = document.getElementById('item').value;
                        var event = document.getElementById('event').value;

                        if (!stime.match(/^\d+-\d+-\d+$/g)) {
                            alert('没有填写开始时间或格式错误');
                            return false;
                        }

                        if (!etime.match(/^\d+-\d+-\d+$/g)) {
                            alert('没有填写结束时间或格式错误');
                            return false;
                        }

                        window.location.href = "itemquery.php?action=search&stime="+stime+"&etime="+etime+"&item="+item+"&event="+event;
                    }
                </script>
        </head>

        <body>
                <table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
                        <tr bgcolor="#E7E7E7">
                                <div align="center", style="">
                                <select id='item' style="margin-right:10px; width:100px; height:26px;">
                                    <!--{loop $itemList $k $v}-->
                                    <option value='$k' <!--{if $k==$item}-->selected="selected"<!--{/if}-->>$v[0]</option>
                                    <!--{/loop}-->
                                </select>
                                <select id='event' style="width:100px; height:26px;">
                                    <option value='4' <!--{if $event==4}-->selected="selected"<!--{/if}-->>消耗</option>
                                    <option value='3' <!--{if $event==3}-->selected="selected"<!--{/if}-->>增加</option>
                                </select>
                                <span style="margin-left:10px; margin-right:10px;">起始时间:
                                    <input name="stime" type="text" class="mytxt" id="stime" style="border:1px solid #CCCCCC;" onFocus="new Calendar().show(this);" value="$stime" />
                                </span>
                                        <span style="margin-right:10px;">结束时间:
                                        <input name="etime" type="text" class="mytxt" id="etime" style="border:1px solid #CCCCCC;" onFocus="new Calendar().show(this);" value="$etime" />
                                </span>
                                        <input type="button" name="search" style="width:80px;" value="查  询" onClick="searchTask()"/>
                                </div>
                        </tr>
                        <tr bgcolor="#E7E7E7">
                                <td height="24" colspan="14">&nbsp;&nbsp;<?=$itemName?><?=$eventStr?>统计列表</td>
                        </tr>
                        <tr align="center" bgcolor="#FAFAF1" height="22">
                                <td width="12%"><?=$eventStr?>项目</td>
                                <td width="12%">人均<?=$eventStr?>数量</td>
                                <td width="12%">占比</td>
                                <td width="12%"><?=$eventStr?>次数</td>
                                <td width="12%"><?=$eventStr?>人数</td>
                                <td width="12%"><?=$eventStr?>总值</td>
                        </tr>
                        <!--{loop $resList $k $v}-->
                        <tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22">
                                <td>$v[0]</td>
                                <td>$v[1]</td>
                                <td>$v[2]</td>
                                <td>$v[3]</td>
                                <td>$v[4]</td>
                                <td>$v[5]</td>
                        </tr>
                        <!--{/loop}-->
                </table>
        </body>
</html>