<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="skin/css/base.css?<!--{eval echo rand();}-->">
	<style type="text/css">
		.WIDTH{
			width:350PX;
		}
	</style>
	<script type="text/javascript">
		function updateseccode() {
			var img = 'do_seccode.php?ac=seccode&rand='+Math.random();
			if(document.getElementById('id_img_seccode')) {
				document.getElementById('id_img_seccode').src = img;
			}
		}
	</script>
</head>
<body leftmargin="8" topmargin="8">
	<form name="loginform" action="login.php" method="post">
		<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
			<tr bgcolor="#E7E7E7">
				<td height="24" colspan="2">&nbsp;登录</td>
			</tr>
			<tr>
				<td width="26%"  bgcolor="#FAFAF1" align="right">用户名：</td>
				<td align="left"  bgcolor="#FAFAF1" ><input name="userid" type="text" id="id_userid" size="50" class="WIDTH"></td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
			 	<td width="26%" align="right">密码：</td>
			  	<td align="left"><input name="password" type="password" id="id_password" size="50" class="WIDTH"></input></td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
			  <td width="26%"><div align="right">验证码：</div></td>
			  <td ><div align="left">
			    <input name="validcode" type="text" id="id_validcode" size="50" class="WIDTH"></input>
			    <img align="absMiddle" id="id_img_seccode" src="do_seccode.php?ac=seccode&rand="+javascript:updateseccode() complete="complete"/>
				<a href=javascript:updateseccode()>看不清换一张</a></div></td>
			</tr>
			<tr align="right" bgcolor="#EEF4EA">
				<td width="26%"></td>
				<td height="36"  align="left">
				  <input name="submit" type="submit" value="登  录"></td>
			</tr>
			<tr align="center" bgcolor="#EEF4EA">
				<td  colspan="2" align="center"><br/><br/>
				  禅悦软件版权所有！</td>
			</tr>
		</table>
	</form>
</body>
</html>