<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="skin/css/base.css?<!--{eval echo rand();}-->">
	<style type="text/css">
		.WIDTH{
			width:350PX;
		}
	</style>
	<script type="text/javascript">
		function testlogin()
		{
			location.href ="login.php?action=1";
		}

		function updateseccode() {
			var img = 'do_seccode.php?ac=seccode&rand='+Math.random();
			if(document.getElementById('id_img_seccode')) {
				document.getElementById('id_img_seccode').src = img;
			}
		}

		function myrandom()
		{
			return Math.random();
		}

		function checkform()
		{
			var password=document.getElementById("id_passwordold").value;
			if(password==""){alert("请输入旧密码");return false;}
			//if(checkPassword("旧密码",password)==false){return false;}

			var passwordnew		=document.getElementById("id_passwordnew").value;
			var passwordnew2	=document.getElementById("id_passwordnew2").value;
			if(passwordnew==""){alert("请输入新密码");return false;}
			if(checkPassword("新密码",passwordnew)==false){return false;}

			if(passwordnew2==""){alert("请再次输入新密码");return false;}
			if(checkPassword("确认密码",passwordnew2)==false){return false;}
			
			if(passwordnew!=passwordnew2){alert("两次输入的新密码不一致!");return false;}

			var validcode=document.getElementById("id_validcode").value;
			if(validcode==""){alert("请输入验证码");return false;}

			return true;
		}

		function checkReg(reg,str)    {     return reg.test(str);    }     
		function checkPassword(name,password)     
		{          
			var reg=/[\'\"\\]/;        
			if(password == '' || checkReg(reg,password))      
			{       
				alert(name+":密码空或包含非法字符  \' \" \\");      
				return false;     
			}      

			pwdLen=password.length;
			if(pwdLen<6 || pwdLen>16)
			{
				alert(name+":密码只能由6-16位大小写字母(a-zA-Z)、数字(0-9)");
				return false;
			}
		
			return true;    
		}
	</script>
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>
	<form name="loginform" method="post" onSubmit="javascript: return checkform();">
		<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
			<tr bgcolor="#E7E7E7">
				<td height="24" colspan="2" background="skin/images/tbg.gif">&nbsp;修改密码</td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
				<td width="26%" align="right">服务器：</td>
				<td align="left"><input type="text" value="$sServerName" disabled="disabled" class="WIDTH"/>
				</td>
			</tr>
			<tr>
				<td width="26%"  bgcolor="#FAFAF1" align="right">用户名：</td>
				<td align="left"  bgcolor="#FAFAF1" >
					<input type="text" size="50" class="WIDTH" disabled="disabled" value="{$user[name]}">
					<input name="userid" id="id_userid" type="hidden"/>
				</td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
			 	<td width="26%" align="right">旧密码：</td>
			  	<td align="left"><input name="passwordold" type="password" id="id_passwordold" size="50" class="WIDTH"></input></td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
				<td width="26%" align="right">新密码：</td>
			  	<td align="left"><input name="passwordnew" type="password" id="id_passwordnew" size="50" class="WIDTH"></input></td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
				<td width="26%" align="right">确认新密码：</td>
			  	<td align="left"><input name="passwordnew2" type="password" id="id_passwordnew2" size="50" class="WIDTH"></input></td>
			</tr>
			<tr align="center" bgcolor="#FAFAF1" height="22">
			  <td width="26%"><div align="right">验证码：</div></td>
			  <td ><div align="left">
			    <input name="validcode" type="text" id="id_validcode" size="50" class="WIDTH"></input>
			    <img align="absMiddle" id="id_img_seccode" src="do_seccode.php?ac=seccode&rand="+javascript:updateseccode() complete="complete"/>
				<a href=javascript:updateseccode()>看不清换一张</a></div></td>
			</tr>
			<tr align="right" bgcolor="#EEF4EA">
				<td width="26%"></td>
				<td height="36"  align="left">
				  <input name="submit" type="submit" value="确  认"></td>
			</tr>
		</table>
	</form>
</body>
</html>