<html>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>
<table topmargin="8" width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" background="skin/images/tbg.gif">
		<!--{loop $memulist $v}-->
        &nbsp;<a href='$v[href]' target='main'>&nbsp;$v[hreftext]&nbsp;</a>
		<!--{/loop}-->
	</td>
</tr>
<tr>
	<td>
		
	</td>
</tr>
<tr bgcolor="#E7E7E7"><td></td>
</tr>
</table>


</body>
</html>