<html>
<head>
	<title>充值统计</title>
	<link rel="stylesheet" type="text/css" href="skin/css/base.css">
	<style type="text/css"> </style>
	<script language="javascript" type="text/javascript" src="js/calendar_with_time.js"></script>	
	<script type="text/javascript">

		//时间查询
		function searchByTime() {
			var stime = document.getElementById("stime");
			var etime = document.getElementById("etime");
			stime = stime.value.trim();
			etime = etime.value.trim();
			if (!stime.match(/^\d+-\d+-\d+ \d+:\d+:\d+$/g)) {
				alert('没有填写开始时间或格式错误');
				return false;
			}
		
			if (!etime.match(/^\d+-\d+-\d+ \d+:\d+:\d+$/g)) {
				alert('没有填写结束时间或格式错误');
				return false;
			}
			window.location.href = "recharge_query.php?action=searchtime&stime="+stime+"&etime="+etime;
		}

		//查询用户
		function searchByUser() {
			var charid = document.getElementById("charid");
			charid = charid.value.trim();
			if (charid.match(/^\s*$/g)) {
				alert('请输入玩家ID');
				return false;
			}
			window.location.href = "recharge_query.php?action=searchuser&charid="+charid;
		}

		//查询渠道号
		function searchSource(){
		    var source = document.getElementById("source");
		    source = source.value;
		    if(!source.match(/^[0-9]/)){
		        alert("渠道号必须是数字");
		        return false;
			}
            window.location.href = "recharge_query.php?action=searchsource&source="+source;
		}
	</script>
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>
<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
	<tr bgcolor="#E7E7E7">
		<div align="center", style="">

			<div align="center", style="display:inline">
				<span style="margin-right:10px;">起始时间:
					<input name="stime" type="text" class="mytxt" id="stime" style="border:1px solid #CCCCCC;"
						onFocus="new Calendar().show(this);" value="$stime" />
				</span>
				<span style="margin-right:10px;">结束时间:
					<input name="etime" type="text" class="mytxt" id="etime" style="border:1px solid #CCCCCC;"
						onFocus="new Calendar().show(this);" value="$etime" />
				</span>
				<input type="button" name="searchbytime" style="width:80px;" onClick="searchByTime()" value="查  询" onClick=""/>
			</div>
			<div align="center", style="display:inline">
				<span style="margin-right:10px;">&nbsp;&nbsp;&nbsp;渠道号:
					<input name="source" type="text" class="mytxt" id="source" style="border:1px solid #CCCCCC;">
				</span>
				<input type="button" name="searchsource" style="width:80px;" onClick="searchSource()" value="查  询" />
			</div>
			<div align="center", style="display:inline; margin-left: 20px">
				<span style="margin-right:10px;">玩家ID:
					<input name="charid" type="text" class="mytxt" id="charid" style="border:1px solid #CCCCCC;" value="$searchCharID" />
				</span>
				<input type="button" name="searchbyuser" style="width:80px;" onClick="searchByUser()" value="查  询" onClick=""/>
			</div>
		</div>
	</tr>

	<tr align="center" bgcolor="#FAFAF1" height="22">
	  <td width="8%">订单号</td>
	  <td width="5%">服务器名</td>
	  <td width="5%">角色ID</td>
	  <td width="5%">充值ID</td>
		<td width="2%">渠道号</td>
	  <td width="8%">商品标识</td>
	  <td width="5%">金额</td>
	  <td width="5%">状态</td>
	  <td width="8%">时间</td>
	  <td width="5%">类型</td>
	</tr>
	
	<!--{loop $rechargeList $v}-->
	<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22">
	  <td>$v[orderid]</td>
	  <td>$v[servername]</td>
	  <td>$v[charid]</td>
	  <td>$v[rechargeid]</td>
		<td>$v[source]</td>
	  <td>$v[productid]</td>
	  <td>$v[money]</td>
	  <td>$v[sstate]</td>
	  <td>$v[stime]</td>
	  <td>$v[stype]</td>
	</tr>
	<!--{/loop}-->
	
	<tr align="right" bgcolor="#EEF4EA">
		<td height="36" colspan="11" align="center">
			<label style="float: left">总充值: $totalRecharge </label>
			<!--{if $multi}-->$multi<!--{/if}-->
		</td>
	</tr> 

</table>

</body>
</html>
