<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>文档管理</title>
<link rel="stylesheet" type="text/css" href="skin/css/base.css">
<script type="text/javascript" src="/js/ajax.js"></script>
<script type="text/javascript">
function getminfo(mid, page)
{

		var url = '?inajax=yes&mid=' + mid + '&page=' + page +'&rnd='+ Math.random();
		ajax(url, 'get', function(data) {
			//alert(data);
			if (data != 'NONE')
			{
				data = eval(data);
				var total = data.total;
				var pages = data.pages;
				
				var table = '<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px"><tr bgcolor="#E7E7E7"><td height="24" colspan="6" background="skin/images/tbg.gif">&nbsp;联盟列表&nbsp;</td></tr><tr align="center" bgcolor="#FAFAF1" height="22"><td width="23%">成员名称</td><td width="16%">职位</td><td width="16%">声望</td><td width="16%">共享值</td></tr>';
				for (var e in data) {
					if (!isNaN(e)) {
						table += '<tr align="center" bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor=\'#FCFDEE\';" onMouseOut="javascript:this.bgColor=\'#FFFFFF\';" height="22"><td>'+data[e]['name']+'</td><td width="16%">'+data[e]['zhiwei']+'</td><td width="16%">'+data[e]['shengwang']+'</td><td width="16%">'+data[e]['gongxian']+'</td></tr>';
					}
				}


				table += '<tr align="right" bgcolor="#EEF4EA"><td height="36" colspan="6" align="left">总页数: ';
				for (var i = 1; i <= pages; i++) {
					if (i == page) {
						table += '('+ i +')';
					} else {
						table += '[<a href="javascript:getminfo('+ mid +', '+ i +');">'+ i +'</a>]';
					}
				} 
				table += '</td></tr></table>';
				
				document.getElementById('unionmembers').innerHTML = table;
			}
		});
}
</script>
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>
<form name='form3' action='' method='get'>
<input type='hidden' name='dopost' value='' />
<table width='98%'  border='0' cellpadding='1' cellspacing='1' bgcolor='#CBD8AC' align="center" style="margin-top:8px">
  <tr bgcolor='#EEF4EA'>
    <td background='skin/images/wbg.gif' align='center'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td width='90' align='center'><div align="right">联盟名称：</div></td>
          <td width='160'><input name='uname' type='text' id="uname" style='width:150px' value='' /></td>
        <td width='70'><div align="right">盟主： </div></td>
        <td width='160'>
          	<input name='mname' type='text' id="mname" style='width:150px' value='' />        </td>
        <td>
          <input name="imageField" type="image" src="skin/images/frame/search.gif" width="45" height="20" border="0" class="np" />        </td>
       </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<br /><br />
<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" colspan="6" background="skin/images/tbg.gif">&nbsp;联盟列表&nbsp;</td>
</tr>
<tr align="center" bgcolor="#FAFAF1" height="22">
	<td width="9%">ID</td>
	<td width="32%">联盟名称</td>
	<td width="14%">盟主</td>
	<td width="16%">等级</td>
	<td width="15%">成员</td>
	<td width="14%">声望</td>
	</tr>
<!--{loop $teams $v}-->
<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22">
  <td>$v[id]</td>
  <td width="32%"><a href="javascript:void(0);" onClick="getminfo($v[id],1);">$v[name]</a></td>
  <td width="14%">$v[mengzhu]</td>
  <td width="16%">$v[level]</td>
  <td width="15%">$v[members]</td>
  <td width="14%">$v[shengwang]</td>
</tr>
<!--{/loop}-->
<tr align="right" bgcolor="#EEF4EA">
	<td height="36" colspan="6" align="left">$pageblock</td>
</tr>
</table>
<div id="unionmembers"></div>
</body>
</html>