<html>
<head>
	<title>用户操作日志</title>
	<link rel="stylesheet" type="text/css" href="skin/css/base.css">
	<script type="text/javascript" src="/js/ajax.js"></script>
	<script type="text/javascript">
		function select_filter()
		{
			var operator=document.getElementById("id_operator").value;
			var optype	=document.getElementById("id_optype").value;
			var page2	=document.getElementById("id_page2").value;
			location.href ="operationlog.php?action=1&s_operator="+operator+"&s_optype="+optype+"&page2="+page2;
		}

	</script>
	
	<style type="text/css">
	<!--
	.STYLE1 {font-weight: bold; color: #3333FF;}
	-->
	</style>
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>

<!-- 用户操作日志 -->
<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td height="24" colspan="5" background="skin/images/tbg.gif">&nbsp;用户操作日志:&nbsp;</td>
</tr>
<tr>
	<td></td>
	<td align="center">操作人筛选：
		<select name="noperator" id="id_operator" onChange="select_filter();">
			<!--{loop $operatorlist $v}-->
			<option value=$v[operator] $v[selected]>$v[operator]</option>
			<!--{/loop}-->
	  </select>
	</td>
	<td align="center" colspan="2">操作类型筛选：
		<select name="noptype" id="id_optype" onChange="select_filter();">
			<!--{loop $optypelist $id $v}-->
			<option value=$id $v[selected]>$v[opname]</option>
			<!--{/loop}-->
	  </select>
	</td>	
</tr>
<tr align="center" bgcolor="#FAFAF1" height="22">
	<td width="9%">编号</td>
	<td width="9%">操作人</td>
	<td width="10%">操作</td>
	<td width="56%">详细</td>
	<td width="16%">操作时间</td>
	</tr>
<!--{loop $loglist $v}-->
<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22">
  <td>$v[adminID]</td>
  <td>$v[operator]</a></td>
  <td>$v[remark]</td>
	<td>$v[ext]</td>
  <td>$v[time]</td>
</tr>
<!--{/loop}-->
<tr align="right" bgcolor="#EEF4EA">
	<td height="36" colspan="6" align="left">$pageblock<input type="hidden" name="page2" id="id_page2" value="{$msg[2][page]}"></td>
</tr>
</table>
<div id="unionmembers"></div>
</body>
</html>